.concernpart {
  background-color: #6ec8d3;
  padding: 4px 8px;
  text-align: center;
  margin-top: 36px;
  display: block;
  justify-content: center;
  border-radius: 5px;
}
.eye-btn {
  &:hover {
    cursor: pointer;
  }
}
.expand-div {
  margin-left: 10%;
}
