.hr-mobile {
  @media (min-width: 956px) {
    display: none;
  }
}
#button {
  border-radius: 50px;
  text-decoration: none;
  color: #ffffff;
  &:hover {
    text-decoration: none;
    color: #ffffff;
  }
}
