section {
  margin-top: 16px;
  p {
    font-size: 18px;
    text-align: justify;
  }
}
.cosmentic-concern {
  height: 20vh;
  border: 1px solid #444444;
  margin: 8px 0px;
  p {
    text-align: center;
  }
}
#dropdown-basic-button {
  // background-color: #6ec8d3;
  background-color: #ffffff;
  color: #000000;
  border-radius: 50px;
  padding: 8px 16px;
  box-shadow: 8px 8px 5px 1px rgba(0, 0, 255, 0.2);
  border: 1px solid #6ec8d3;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.paper {
  background-color: #ffffff;
  border: 2px solid #000000;
  box-shadow: 2px 5px 6px #000000;
  width: 556px;
}
.disclaimer {
  margin: 8px;
  padding: 8px;
  background-color: #6ec8d3;
  border-radius: 5px;
  text-align: center;
}
.disclaimer-text {
  padding: 8px;
  scroll-behavior: smooth;
}
.concerns {
  border: 1px solid #444444;
  padding: 8px;
  text-align: center;
  h3 {
    margin-top: 16px;
    color: #32a8b8;
  }
  p {
    padding: 8px 0px;
  }
}
.button {
  background-color: #eff1f1;
  border: none;
  outline: none;
  &:hover {
    background-color: #444444;
    box-shadow: 1px 1px 3px 2px #5f5d5d;
  }
  &:focus {
    border: none;
    outline: none;
  }
}

.button-div {
  margin: 8px 0px;
  .button {
    background-color: #444444;
    &:hover {
      background-color: #444444;
    }
    &:focus {
      background-color: #444444;
      border: none;
      outline: none;
    }
    &:hover {
      box-shadow: 1px 1px 3px 2px #5f5d5d;
    }
  }
}
area {
  background: #000000;
  display: block;
  opacity: 0;
  position: absolute;
  &:hover {
    border: 2px solid black;
    opacity: 0.2;
  }
}
.cosmentic-concern {
  background-color: #f5f5f5;
}
